- const description = 'Developer from Rostov-on-Don';

meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')

title Maksim Karelov
meta(name='description' content=description)

meta(property='og:type' content='website')
meta(property='og:title' content='Maksim Karelov')
meta(property='og:description' content=description)
meta(property='og:url' content='https://karelov.info')
meta(property='og:image' content='../static/photo.jpg')
meta(property='og:image:type' content='image/jpg')
meta(property='og:image:width' content='1024')
meta(property='og:image:height' content='1024')

meta(property='twitter:card' content='summary')
meta(property='twitter:creator' content='@xxxTy3uKxxx')
